.cortos {

    height: 30px;
    width: 45%;
    font-size: 20px;
}

.largos {

    height: 30px;
    width: 96%;
    font-size: 20px;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #3B7171;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }

  .button:hover, .button:focus {
    background: #3E7F7F;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }